/* 
  Este es el archivo de ejercicio de CSS
  Ejercicio Home CSS
*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');

body {
    display: block;
    width: 51%;
    text-align: center;
    margin: auto;
}

.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.6em;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: rgb(51, 48, 48);
    margin-top: 1em;
    margin-bottom: 0em;
}
.author {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: rgb(158, 153, 153);
}
.text-content {
    font-family: serif;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: rgb(51, 48, 48);
}

.super {
    text-align: left;
}

.read-on {
    color: #fff;
    border: 1px;
    border-style: solid;
    border-color: rgb(175, 17, 17);
    background: rgb(175, 17, 17);
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
}

.read-later {
    border: 1px;
    border-style: solid;
    color: rgb(175, 17, 17);
    border-color:  rgb(175, 17, 17);
    padding: 0.5em 1em;
}